<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acrolinx.Sidebar" version="2.1.1.1984" targetFramework="net48" />
  <package id="Diff.Match.Patch" version="3.0.1" targetFramework="net48" />
  <package id="FSharp.Core" version="9.0.100" targetFramework="net48" />
  <package id="log4net" version="3.0.3" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2365.46" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
</packages>